<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ABB.SrcML" version="4.1.15.50" targetFramework="net45" />
  <package id="ABB.SrcML.Data" version="4.1.15.50" targetFramework="net45" />
  <package id="AvsAn" version="2.2.0.0" targetFramework="net45" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
</packages>